@page
@model Ibas.MenuApp.Pages.ContactInfoModel
@{
}
<div class="text-center">
    <h1 class="display-4">Kantinens menu for uge 45</h1>
    <h1>Næste uges menu</h1>
    <table>
        <tr>
            <th>Navn</th>
            <th>Email</th>
            <th>tlf</th>
        </tr>
        <tr>
            <td>Karen </td>
            <td>Karen@gmail.com</td>
            <td>23123213</td>
        </tr>
       
    </table>
