@page
@model IndexModel
@{
    ViewData["Title"] = "Weekly Menu";
}

<h1>Weekly Menu</h1>

<table>
    <thead>
        <tr>
            <th>Day</th>
            <th>Cold Dish</th>
            <th>Warm Dish</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MenuItems)
        {
                <tr>
                    <td>@item.Day</td>
                    <td>@item.ColdDish</td>
                    <td>@item.WarmDish</td>
                </tr>
        }
    </tbody>
</table>
